@charset "UTF-8";
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

body {
    font-family: -apple-system, "Helvetica Neue", san-serif;
    font-weight: 900;
    font-size: 48px;
    color: #444;
    overflow-y: scroll;
    line-height: 100px;
    text-align: center;
}

textarea {
    font-family: -apple-system, "Helvetica Neue", san-serif;
    font-weight: 900;
    font-size: 48px;
    color: #444;
}

a, #cookie-notice input {
    text-decoration: underline;
}

p {
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

p.single-line {
    height: 100px;
}

.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.ardent {
    width: 297px;
    height: 80px;
    display: inline-block;
    margin: 10px auto 0 auto;
}

#cookie-notice {
    font-size: 24px;
    line-height: 36px;
    background-color: #333;
    color: #ccc;
}

#cookie-notice input {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    font-weight: inherit;
    font-size: 24px;
}

#cookie-notice div {
    padding-left: 20px;
    padding-right: 20px;
}